*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}

h1{
  display:flex;
  justify-content: center;
  margin: 10px;
}

body{
  display:flex;
  background-color: lavender;
  justify-content: center;
  flex-direction: column;
}

button{
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 50px;
}

.items{
  display:flex;
  justify-content: center;
}
